* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  background-color: #e6efff;
}

body,
.container {
  height: 100vh;
}

body,
.container,
form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 960px;
  flex-direction: column;
  align-items: flex-start;
}

.container,
header,
main,
table,
thead {
  width: 100%;
}

header {
  background-color: #0059ff;
  padding: 16px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

header h1 {
  font-size: 40px;
}

form {
  gap: 16px;
  margin: 20px 0;
}

form input {
  width: 35%;
}

form input,
form button {
  font-size: 18px;
}

form input,
table th,
table td {
  padding: 12px;
}

form button {
  background-color: #337aff;
  padding: 14px 30px;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
  border: none;
  transition: 0.3s ease-in-out;
}

form button:hover {
  background-color: #337affd7;
}

table th {
  background-color: #5892ff;
  color: #fff;
  font-size: 20px;
  width: 50%;
}

table td {
  background-color: #fff;
  text-align: center;
}

#notice {
  margin-top: 16px;
  text-align: center;
}
